html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #898989;
}

body {
    margin: 0px;
    min-height: 100vh;
    color: #898989;
    font-family: "Microsoft JhengHei", 'Times New Roman', serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

header ul {
    width: 95%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-right: 5%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.navbar {
    margin: 10px 15px 20px 15px;
    font-size: 18px;
}

.social {
    width: 40px;
    height: 35px;
    padding: 5px;
}

#logo {
    z-index: 0;
    width: 28%;
    height: auto;
    margin: 30px;
}

footer {
    position: relative;
    margin: -170px 0px -60px 90px;
}

button, input {
    outline: none;
}

hr {
    position: relative;
    z-index: 2;
    border: #B0DCDC solid 1px;
    width: 90%;
    margin-top: -10px;
}

h5 {
    margin: 0px;
}

.container {
    z-index: 1;
    position: relative;
    display: flex;
    overflow: hidden;
    height: 420px;
    width: 780px;
    margin: -110px 0px 0px 470px;
}

.container>div {
    position: relative;
    overflow: hidden;
    padding: 0px;
    border: 0px;
    margin: 10px 10px;
    height: 340px;
}

.strange {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#img1, #img2 {
    margin-bottom: 10px;
    height: auto;
    width: 180px;
}

#img01, #img02 {
    margin-bottom: 10px;
    height: auto;
    width: 196px;
}

#img3, #img4 {
    height: 100%;
    width: auto;
}

.container>.rightbar {
    height: 100%;
    width: 5px;
    background-color: #B0DCDC;
    margin-left: 40px;
}

#r_flower {
    position: relative;
    width: 16.5%;
    z-index: 0;
    margin: 10px 55px -30px 0px;
}

#leftbar {
    z-index: 0;
    position: absolute;
    margin: -120px 0px -50px 40px;
    width: 35px;
    height: 450px;
    background-color: #B0DCDC;
    border-radius: 20px;
}

#leftbutton {
    /*整組按鈕*/
    margin-top: -80px;
    width: 200px;
}

.Lbtn {
    z-index: 3;
    position: relative;
    margin: 0px 0px 20px 60px;
    display: block;
    width: 40px;
    height: 70px;
    background-color: #B0DCDC;
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 16px;
}

.Lbtn:active {
    position: relative;
    top: 3px;
}

.box {
    margin: 4% 0% 0% -33%;
    display: flex;
    justify-content: flex-start;
}

.container-4 {
    z-index: 2;
    overflow: hidden;
    width: 450px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 450px;
    height: 40px;
    background: white;
    border: #B0DCDC solid 2px;
    font-size: 12px;
    float: left;
    color: #898989;
    padding-left: 15px;
    border-radius: 18px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #898989;
}

.container-4 button.icon {
    border-radius: 18px;
    border: none;
    background: #B0DCDC;
    height: 40px;
    width: 90px;
    color: white;
    font-size: 16px;
    /*transition: all .4s ease-in-out;*/
    margin-left: -90px;
    opacity: 1;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
    outline: none;
}

/*.container-4:hover button.icon:hover {
    background: white;
}*/

.dot {
    display: flex;
    vertical-align: middle;
    margin-left: 10px;
}

.dot>div {
    width: 14px;
    height: 14px;
    margin: 13px 5px;
    border-radius: 50%;
}

.d1 {
    background-color: #e9e9e9;
}

.d2 {
    background: #b7e4e4;
}

.d3 {
    background: #B0DCDC;
}